<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bag_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>blurKitchenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>cabinet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,0},{225,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,186}}</string>
                <key>sourceSize</key>
                <string>{225,186}</string>
            </dict>
            <key>cabinet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,0},{162,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,135}}</string>
                <key>sourceSize</key>
                <string>{162,135}</string>
            </dict>
            <key>cabinet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,0},{212,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,169}}</string>
                <key>sourceSize</key>
                <string>{212,169}</string>
            </dict>
            <key>fridge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{292,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,141}}</string>
                <key>sourceSize</key>
                <string>{292,141}</string>
            </dict>
            <key>fridge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,768},{291,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,224}}</string>
                <key>sourceSize</key>
                <string>{291,224}</string>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,768},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>kitchenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mainScene.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1218},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SceneKitchenbg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b0effb4547f4e5c8b3735b7fa378acc:14e43d4f702931f6336dcde1aad82a84:9f9745662da712fc82de3931310b5cbb$</string>
            <key>textureFileName</key>
            <string>SceneKitchenbg.png</string>
        </dict>
    </dict>
</plist>
