<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,107},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>cheeseCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>container.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,366},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,0},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>pot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,29},{87,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>pot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,153},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>pot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{83,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,40}}</string>
                <key>sourceSize</key>
                <string>{83,40}</string>
            </dict>
            <key>salt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>soyasause.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,366},{37,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,130}}</string>
                <key>sourceSize</key>
                <string>{37,130}</string>
            </dict>
            <key>vinegar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{28,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,102}}</string>
                <key>sourceSize</key>
                <string>{28,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SceneKitchenitem.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:611a5fa1ef4e9a5f2452052b1f09a230:629ab11e6142396d6202e5a35dedebdf:7ed7be59942453492426983d7d729457$</string>
            <key>textureFileName</key>
            <string>SceneKitchenitem.png</string>
        </dict>
    </dict>
</plist>
