<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,267}}</string>
                <key>sourceSize</key>
                <string>{88,267}</string>
            </dict>
            <key>boyEmotion001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{516,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,732}}</string>
                <key>sourceSize</key>
                <string>{516,732}</string>
            </dict>
            <key>boyEmotion002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{516,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,732}}</string>
                <key>sourceSize</key>
                <string>{516,732}</string>
            </dict>
            <key>boywalk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>boywalk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>boywalk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>boywalk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>boywalk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>boywalk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>boywalk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>boywalk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,0},{99,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,275}}</string>
                <key>sourceSize</key>
                <string>{99,275}</string>
            </dict>
            <key>chefEmotion001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,732},{508,978}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,978}}</string>
                <key>sourceSize</key>
                <string>{508,978}</string>
            </dict>
            <key>chefEmotion002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,732},{508,978}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,978}}</string>
                <key>sourceSize</key>
                <string>{508,978}</string>
            </dict>
            <key>chefEmotion003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,732},{508,978}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,978}}</string>
                <key>sourceSize</key>
                <string>{508,978}</string>
            </dict>
            <key>chefwalk001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,732},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
            <key>chefwalk002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,732},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
            <key>chefwalk003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,732},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
            <key>chefwalk004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,732},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
            <key>chefwalk005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1710},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
            <key>chefwalk006.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1710},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
            <key>chefwalk007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1710},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
            <key>chefwalk008.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1710},{105,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,275}}</string>
                <key>sourceSize</key>
                <string>{105,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SceneKitchenppl.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0ab98d1606f905fb27864b29b85d1ce:b9ccac28169296f2dcc5449a6b324378:fe2928874300700ae8df1b79b8371d3c$</string>
            <key>textureFileName</key>
            <string>SceneKitchenppl.png</string>
        </dict>
    </dict>
</plist>
