<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,0},{58,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,110}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>B_glassrod.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>B_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{57,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,108}}</string>
                <key>sourceSize</key>
                <string>{57,108}</string>
            </dict>
            <key>B_herbDG.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,114},{81,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,137}}</string>
                <key>sourceSize</key>
                <string>{81,137}</string>
            </dict>
            <key>B_herbG.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,114},{114,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,161}}</string>
                <key>sourceSize</key>
                <string>{114,161}</string>
            </dict>
            <key>B_herbR.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,114},{100,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,147}}</string>
                <key>sourceSize</key>
                <string>{100,147}</string>
            </dict>
            <key>B_herbY.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,114},{81,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,161}}</string>
                <key>sourceSize</key>
                <string>{81,161}</string>
            </dict>
            <key>B_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{57,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,107}}</string>
                <key>sourceSize</key>
                <string>{57,107}</string>
            </dict>
            <key>B_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{84,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{84,125}</string>
            </dict>
            <key>B_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,0},{58,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,111}}</string>
                <key>sourceSize</key>
                <string>{58,111}</string>
            </dict>
            <key>E_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,114},{155,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,240}}</string>
                <key>sourceSize</key>
                <string>{155,240}</string>
            </dict>
            <key>E_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,114},{128,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,203}}</string>
                <key>sourceSize</key>
                <string>{128,203}</string>
            </dict>
            <key>E_node1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,581},{804,899}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,899}}</string>
                <key>sourceSize</key>
                <string>{804,899}</string>
            </dict>
            <key>E_node2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,581},{868,790}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{868,790}}</string>
                <key>sourceSize</key>
                <string>{868,790}</string>
            </dict>
            <key>E_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,114},{159,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,231}}</string>
                <key>sourceSize</key>
                <string>{159,231}</string>
            </dict>
            <key>E_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,114},{168,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,233}}</string>
                <key>sourceSize</key>
                <string>{168,233}</string>
            </dict>
            <key>alcohol_lamp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,114},{126,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,121}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>alcohol_lamp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,114},{126,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,121}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{2048,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,227}}</string>
                <key>sourceSize</key>
                <string>{2048,227}</string>
            </dict>
            <key>beaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,0},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>beaker_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,0},{86,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{86,104}</string>
            </dict>
            <key>beaker_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,0},{79,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,101}}</string>
                <key>sourceSize</key>
                <string>{79,101}</string>
            </dict>
            <key>beaker_brownSh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,0},{82,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,106}}</string>
                <key>sourceSize</key>
                <string>{82,106}</string>
            </dict>
            <key>beaker_false01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,0},{81,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,114}}</string>
                <key>sourceSize</key>
                <string>{81,114}</string>
            </dict>
            <key>beaker_false02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,0},{81,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,114}}</string>
                <key>sourceSize</key>
                <string>{81,114}</string>
            </dict>
            <key>beaker_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,0},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>beaker_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,0},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,106}</string>
            </dict>
            <key>beaker_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,0},{87,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,107}}</string>
                <key>sourceSize</key>
                <string>{87,107}</string>
            </dict>
            <key>beaker_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,0},{85,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,102}}</string>
                <key>sourceSize</key>
                <string>{85,102}</string>
            </dict>
            <key>beaker_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>bowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,0},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>bowl_darkgreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>bowl_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,0},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>bowl_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,0},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>bowl_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>glassrod.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{42,67}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>trashcan.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,114},{182,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,190}}</string>
                <key>sourceSize</key>
                <string>{182,190}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{51,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,99}}</string>
                <key>sourceSize</key>
                <string>{51,99}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>labScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f36486a5d6cb1ff0a156e77a51c8d7:d82cab199b8e2d6da88b63305a980476:4686133545f2e41ff6f32f83b2eafddf$</string>
            <key>textureFileName</key>
            <string>labScene.png</string>
        </dict>
    </dict>
</plist>
