<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SR_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,284},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>SR_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>SR_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,426},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>SR_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,426},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>elock00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>lab_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lock.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a3e9012e181bbaa298773f75e8ae0a5:d5e46a7e9be6d78210aef6095c4f678d:d9e72026ae172a0305cf306f20754e06$</string>
            <key>textureFileName</key>
            <string>lock.png</string>
        </dict>
    </dict>
</plist>
