<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elock00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>lock00.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,142},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock08.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lock09.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,284},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lock.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31d9de41e01789b19d6a220bf0933598:742ef6695dc285e52c2c9a1f539fcef4:d9e72026ae172a0305cf306f20754e06$</string>
            <key>textureFileName</key>
            <string>lock.png</string>
        </dict>
    </dict>
</plist>
