<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_Bslides.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_BslidesLOD.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_DGslides.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_DGslidesLOD.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_Gslides.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_GslidesLOD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_Key.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,170},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_Pslides.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,170},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_PslidesLOD.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,170},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{58,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,110}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>B_dropper.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_dropperLOD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,0},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_glassrod.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,0},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
            <key>B_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,0},{57,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,108}}</string>
                <key>sourceSize</key>
                <string>{57,108}</string>
            </dict>
            <key>B_herbDG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,0},{81,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,137}}</string>
                <key>sourceSize</key>
                <string>{81,137}</string>
            </dict>
            <key>B_herbG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,0},{114,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,161}}</string>
                <key>sourceSize</key>
                <string>{114,161}</string>
            </dict>
            <key>B_herbR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,0},{100,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,147}}</string>
                <key>sourceSize</key>
                <string>{100,147}</string>
            </dict>
            <key>B_herbY.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{81,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,161}}</string>
                <key>sourceSize</key>
                <string>{81,161}</string>
            </dict>
            <key>B_lodine.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,170},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,170},{57,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,107}}</string>
                <key>sourceSize</key>
                <string>{57,107}</string>
            </dict>
            <key>B_sudoku.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,170},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>B_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,170},{84,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{84,125}</string>
            </dict>
            <key>B_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,170},{58,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,111}}</string>
                <key>sourceSize</key>
                <string>{58,111}</string>
            </dict>
            <key>arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,0},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{65,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,40}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{2048,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,230}}</string>
                <key>sourceSize</key>
                <string>{2048,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bagItem.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b9933abb8da9f12e6032813a22b485:19f7c5ab61e38aecb024f8d0d4c1d6b3:1c13b6d0f35cdf32ab4c1483e695b120$</string>
            <key>textureFileName</key>
            <string>bagItem.png</string>
        </dict>
    </dict>
</plist>
