<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SR_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,334},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>SR_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,334},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>SR_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>SR_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,476},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>elock00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>elock_ERROR.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{272,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,86}}</string>
                <key>sourceSize</key>
                <string>{272,86}</string>
            </dict>
            <key>lab_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,50},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,50},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,192},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,192},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,192},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,192},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,334},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>lab_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,334},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lock.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:865c9660a7539ece489a5542a61b992c:8b56db6d701cc4788d5bec6963483aeb:d9e72026ae172a0305cf306f20754e06$</string>
            <key>textureFileName</key>
            <string>lock.png</string>
        </dict>
    </dict>
</plist>
