<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setRect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,286}</string>
                <key>spriteSourceSize</key>
                <string>{190,286}</string>
                <key>textureRect</key>
                <string>{{366,0},{190,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setRect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,483}</string>
                <key>spriteSourceSize</key>
                <string>{482,483}</string>
                <key>textureRect</key>
                <string>{{414,674},{482,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setRect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,674}</string>
                <key>spriteSourceSize</key>
                <string>{326,674}</string>
                <key>textureRect</key>
                <string>{{556,0},{326,674}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setRect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,534}</string>
                <key>spriteSourceSize</key>
                <string>{414,534}</string>
                <key>textureRect</key>
                <string>{{0,674},{414,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setRect_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,158}</string>
                <key>spriteSourceSize</key>
                <string>{614,158}</string>
                <key>textureRect</key>
                <string>{{0,1208},{614,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setRect_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,184}</string>
                <key>spriteSourceSize</key>
                <string>{190,184}</string>
                <key>textureRect</key>
                <string>{{176,0},{190,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setRect_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,209}</string>
                <key>spriteSourceSize</key>
                <string>{176,209}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BR_SetRect.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174bf162b5bdf19aaf6530834a8b75f7:9ff975ecebe8cdb02d52bf2ecc15feb6:161c51f33e8339ff3a63a142f185df4b$</string>
            <key>textureFileName</key>
            <string>BR_SetRect.png</string>
        </dict>
    </dict>
</plist>
