<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GR_S01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>GR_Z01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,0},{150,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,42}}</string>
                <key>sourceSize</key>
                <string>{150,42}</string>
            </dict>
            <key>GR_Z02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{1258,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1258,458}}</string>
                <key>sourceSize</key>
                <string>{1258,458}</string>
            </dict>
            <key>GR_Z02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,0},{29,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>GR_Z03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,0},{254,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,288}}</string>
                <key>sourceSize</key>
                <string>{254,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GRScene.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c203f957b6d1d134f199d425c2fa2c9e:17f85666d91fcf8fbf9897d6b9df5f67:76434e8db6349db63310297d44f81c0d$</string>
            <key>textureFileName</key>
            <string>GRScene.png</string>
        </dict>
    </dict>
</plist>
