<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SR_Z3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{287,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,330}}</string>
                <key>sourceSize</key>
                <string>{287,330}</string>
            </dict>
            <key>SR_Z3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{280,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,279}}</string>
                <key>sourceSize</key>
                <string>{280,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SRScene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ecdbdbc5224086a0abf69c35de9f0cd:0832df6c3e0fa9a009bcfdeb433642cf:12c1ea2a1b19015a1c9df616ad3d894b$</string>
            <key>textureFileName</key>
            <string>SRScene.png</string>
        </dict>
    </dict>
</plist>
