<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ater45_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater45_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater45_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater45_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater45_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater45_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater45_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater45_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,0},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,563},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,563},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1126},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1126},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1126},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1126},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1126},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>aterBack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1126},{225,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,563}}</string>
                <key>sourceSize</key>
                <string>{225,563}</string>
            </dict>
            <key>ater_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,0},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
            <key>ater_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,563},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
            <key>ater_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,563},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
            <key>ater_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,563},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
            <key>ater_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,563},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
            <key>ater_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,563},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
            <key>ater_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,563},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
            <key>ater_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,563},{198,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,508}}</string>
                <key>sourceSize</key>
                <string>{198,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ater.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeaf64aaedde8c1185e254408d8994b3:0e0dce4acd0f09583b441ceee0f58f23:0f6e24689cb17c2d0cf8ec1b890b6a97$</string>
            <key>textureFileName</key>
            <string>ater.png</string>
        </dict>
    </dict>
</plist>
