<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2017,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2017,298}}</string>
                <key>sourceSize</key>
                <string>{2017,298}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{2048,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,427}}</string>
                <key>sourceSize</key>
                <string>{2048,427}</string>
            </dict>
            <key>road02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{2048,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,109}}</string>
                <key>sourceSize</key>
                <string>{2048,109}</string>
            </dict>
            <key>roadfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,834},{2048,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,293}}</string>
                <key>sourceSize</key>
                <string>{2048,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runscene02.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ff01881cc88c7af2efec47ed8515cc:ded8b2e4da50a714913acc311e5a46d0:6c549b7f74ce53164fd41bb809eee806$</string>
            <key>textureFileName</key>
            <string>runscene02.png</string>
        </dict>
    </dict>
</plist>
