<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>house01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{712,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,511}}</string>
                <key>sourceSize</key>
                <string>{712,511}</string>
            </dict>
            <key>house02.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{638,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,520}}</string>
                <key>sourceSize</key>
                <string>{638,520}</string>
            </dict>
            <key>house03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,0},{496,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,411}}</string>
                <key>sourceSize</key>
                <string>{496,411}</string>
            </dict>
            <key>lattice.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{617,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,250}}</string>
                <key>sourceSize</key>
                <string>{617,250}</string>
            </dict>
            <key>tree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,520},{421,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,700}}</string>
                <key>sourceSize</key>
                <string>{421,700}</string>
            </dict>
            <key>tree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,520},{520,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,700}}</string>
                <key>sourceSize</key>
                <string>{520,700}</string>
            </dict>
            <key>tree03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,520},{299,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,437}}</string>
                <key>sourceSize</key>
                <string>{299,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runscene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:276b99f43a949a82c9dfc5a43d35423e:513dd65ebfa7a0735421552a97d461b5:0c9e26e11aaeab6e65be55f0798b8053$</string>
            <key>textureFileName</key>
            <string>runscene.png</string>
        </dict>
    </dict>
</plist>
