<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SR_Z03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{287,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,330}}</string>
                <key>sourceSize</key>
                <string>{287,330}</string>
            </dict>
            <key>SR_Z03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,0},{280,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,279}}</string>
                <key>sourceSize</key>
                <string>{280,279}</string>
            </dict>
            <key>SR_Z04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,0},{96,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,481}}</string>
                <key>sourceSize</key>
                <string>{96,481}</string>
            </dict>
            <key>SR_Z04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,0},{228,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,640}}</string>
                <key>sourceSize</key>
                <string>{228,640}</string>
            </dict>
            <key>SR_Z04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,0},{92,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,346}}</string>
                <key>sourceSize</key>
                <string>{92,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SRScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52419b41b2dabbafd3f542b3c7e56ca:ffde8de1dee7dedebc758bded097153e:12c1ea2a1b19015a1c9df616ad3d894b$</string>
            <key>textureFileName</key>
            <string>SRScene.png</string>
        </dict>
    </dict>
</plist>
