<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ater45_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1334},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,667},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,667},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,667},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,667},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1334},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,667},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,667},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>aterBack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,0},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,0},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,0},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,0},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,0},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,667},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ater_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:984ad8af709ae13fa4a19e7f64935ec9:29c9fad0c1f1ba36de345dc00f4b207f:72d5263c21e15bf64282101962100caa$</string>
            <key>textureFileName</key>
            <string>ater_1.png</string>
        </dict>
    </dict>
</plist>
