<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ater45_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1982},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1315},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1315},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1315},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1315},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1982},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1982},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>ater45_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1982},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>aterBack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1315},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,648},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1315},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1315},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,648},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,648},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,648},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterBack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,648},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>aterStand01.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1982},{280,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,658}}</string>
                <key>sourceSize</key>
                <string>{280,658}</string>
            </dict>
            <key>aterStand02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,648},{261,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,667}}</string>
                <key>sourceSize</key>
                <string>{261,667}</string>
            </dict>
            <key>ater_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
            <key>ater_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
            <key>ater_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
            <key>ater_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
            <key>ater_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,0},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
            <key>ater_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
            <key>ater_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,0},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
            <key>ater_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,0},{260,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,648}}</string>
                <key>sourceSize</key>
                <string>{260,648}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ater.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8305ddaff3bd1caa63e98bf704a067c2:abd583c10a8944eef50f984895ad7611:0f6e24689cb17c2d0cf8ec1b890b6a97$</string>
            <key>textureFileName</key>
            <string>ater.png</string>
        </dict>
    </dict>
</plist>
