<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GP45_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,651},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP45_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,651},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP45_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,651},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP45_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,651},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP45_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1302},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP45_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1302},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP45_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1302},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP45_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1302},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GPBack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,651},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GPBack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,651},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GPBack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GPBack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GPBack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GPBack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,0},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GPBack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,0},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GPBack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,651},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
            <key>GP_stand01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,0},{282,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,651}}</string>
                <key>sourceSize</key>
                <string>{282,651}</string>
            </dict>
            <key>GP_stand02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{274,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,651}}</string>
                <key>sourceSize</key>
                <string>{274,651}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robin.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3ab38ebace9fa11bc48c0fede52fc37:fbf4c9d993d6fa076d8096edf11c4900:b091c6ef2a6ce934bbfd733aa3c5179b$</string>
            <key>textureFileName</key>
            <string>robin.png</string>
        </dict>
    </dict>
</plist>
